body {
    background: #ffffff;

    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.letrab{

text-align: right;
font-weight: bold;

}
.inputsr{
    border-radius: 50px;
    


}
.btningresar1{
    background-image: url('../img/Recurso\ 36VTEK\ RECURSOS.png') !important;
    background-size: 100% 100%;
    width: 202px;
    height: 81px;
    border: none;
    margin-left: 130px;


}
.btningresar2{
    
    position:absolute;
    
    clip-path: circle();
    top: 0;
    left: 270px;
}
.botones{
background: white;
position: relative;
width: 360px;
height: 40px;

}

.letrabtn{
    color: white!important;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 30px;
    

}
.fondo1{
    background-image: url('../img/fondo1.png');
    height: 624px;
    background-size: contain;
    background-repeat: no-repeat;
    



}
.fondo2{
    background-image: url("../img/Recurso\ 21VTEK\ RECURSOS.png");
    height: 477px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 191px;
    margin-top: -575px;





}
.logo{
    background-image: url("../img/Recurso\ 47VTEK\ RECURSOS.png");
    height: 162px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -503px;
    margin-left: 811px;
}

.logov{
    background-image: url("../img/Recurso\ 88VTEK\ RECURSOS.png");
    height: 45px;
    background-repeat: no-repeat;
    margin-left: 111px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-size: contain;


}

#sidebar-container{
    min-height: 100vh;
    background-color: #ffffff ;
    position:absolute;
    right: 0;
}
#sidebar-container .logov{
    padding: .875rem 1.25rem;
}
#sidebar-container .menu{
    width: 18rem;
    


}
.menuopciones{
    margin-left: 139px
    

}
.infopagina{
    background-image: url(../img/Recurso\ 38VTEK\ RECURSOS.png);
    height: 124px;
    width: 411px;
    background-repeat: no-repeat;
    margin-left: 71px;
    background-size: contain;
    position: relative;




}
.letrainfo{
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 142px;
    float: left;


}
.prueba{

    background-color: #ffa100;
}
.inputsdivi{
    width: 300px;
    margin-right: 10px;
    


}

.margenusu{
    margin-left: 200px;

}
.dropdown1{
    border-radius: 50px;
    width: 300px;
    margin-right: 10px;
}
.dropdown2{
    position: inherit;
    
    border-radius: 50px;
    width: 200px;
    margin-top: 16px;

}
.naranjasinb{
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png);
    height: 96px;
    width: 197px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 43%;





}
.btnguardar{
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 229px;
    height: 81px;
    border: none;
    margin-left: 62%;
    background-repeat: no-repeat;
    margin-top: -45px;


}
.btnguardar2{
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 229px;
    height: 81px;
    border: none;
    margin-left: 408px;
    background-repeat: no-repeat;



}
.letrabtng{
    color: white!important;
    text-align: center;
    font-weight: bold;

    

}
.letracargo{
    color: white!important;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-top: 22px;
    margin-left: 71px;

}
.letra-columna{
    color: white!important;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;


}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;





}

.container{
    background-color: aqua;
    width: 50px;
    height: 60PX;


}
.margenr{
margin-right: 41px;
}
.margenr1{
    margin-right: 33px;
}
.margenr2{
    margin-left: 20px;
}

.sombra{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.37);
}
.saliendo{
    color: white!important;
    font-weight: bold;
    float: left;
    margin-top: 25px;
    margin-left: 26px;
}
.nosalir{
    color: white!important;
    font-weight: bold;
    float: left;
    margin-top: 25px;
    margin-left: 48px;
    cursor: pointer;
}

.infousuario {
    background-image: url(../img/Recurso\ 38VTEK\ RECURSOS.png);
    height: 234px;
    width: 677px;
    background-repeat: no-repeat;
    margin-left: 71px;
    background-size: contain;
    position: relative;
}
.letrausuario {
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    margin-top: 104px;
    margin-left: 233px;
    float: left;
}
.btncontactarC{
    background-image: url('../img/Recurso\ 36VTEK\ RECURSOS.png') !important;
    background-size: 100% 100%;
    width: 202px;
    height: 81px;
    border: none;
    position: flex;
    justify-content: right;



}
.margenrecuadro{ margin-left: 20px;}







main{
    max-width: 800px;
    width: 90%;
    margin: auto;  
    padding: 40px;


}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;

}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: relative;
    bottom: 15 px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
    left: 259px;
    margin: 10px;



}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.imputs_tamano{
    position: absolute;
    width: 300px;
}
.formulario__grupo-input{
    position: relative;

}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}




.formulario__grupo-correcto .formulario__validacion-estado{
color: #1ed12d;
opacity: 1;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
    }
    
.puntero{
    cursor: pointer;


}

.input-group_main {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    width: 70% !important;
}
.info_de_oferta{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 1px;
    font-weight: bold;
    margin-left: 97px;
}
.temano_recuadro{
    height: 312px;
    width: 136px;
}
.infocliente_oferta_admin{
    margin-left: 20px;
    margin-top:  19px

}
.btnsave{
    position: absolute;
    margin-top: 0px;
}
.btnsave2{
    position: absolute;
    margin-top: 75px;

}
.inputFirma{
    height: 110px !important;
    border-radius: 25px !important;

}
.btn_degrade{
    background-image:linear-gradient(to right, orange, #e61919) !important ;

}
.btn_pasar{
    --bs-btn-color: #fff;
    border-radius: 50px;
    position: absolute;
    margin-left: 40px;
}
.margenes{
    margin-top: 30px;
}
.letra_formulario2{
    font-size: 11px;
    color: #e61919;
    margin-left: 340px !important;
    margin-top: 20px;
}
.letra_formulario{
    font-size: 11px;
    color: #e61919;
    position: absolute;
    margin-top: 50px;
}
.letra_formulario3{
    font-size: 11px;
    color: #e61919;
    margin-left: 10px !important;
    margin-top: 20px;
}
.acomodar{
    float:left;
}










@media (max-width: 600px) {
    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
    body {
        border-top: 16px solid #ffa100;
    }
}