body {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.letrab {
    text-align: right;
    font-weight: bold;
}

.inputsr {
    border-radius: 50px;
}

.btningresar1 {
    background-image: url('../img/Recurso\ 36VTEK\ RECURSOS.png') !important;
    background-size: 100% 100%;
    width: 202px;
    height: 81px;
    border: none;
    margin-left: 130px;
}

.btn_guardar_ofertas {
    background-image: url(../img/Recurso\ 36VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 204px;
    height: 77px;
    border: none;
    float: left;
    margin-right: -30px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.btningresar2 {
    position: absolute;
    clip-path: circle();
    top: 0;
    left: 270px;
}

.botones {
    background: white;
    position: relative;
    width: 360px;
    height: 40px;
}

.letrabtn {
    color: white!important;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 30px;
}

.fondo1 {
    background-image: url('../img/fondo1.png');
    height: 624px;
    background-size: contain;
    background-repeat: no-repeat;
}

.fondo2 {
    background-image: url("../img/Recurso\ 21VTEK\ RECURSOS.png");
    height: 477px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 191px;
    margin-top: -575px;
}

.logo {
    background-image: url("../img/Recurso\ 47VTEK\ RECURSOS.png");
    height: 162px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -503px;
    margin-left: 811px;
}

.logov {
    background-image: url("../img/Recurso\ 88VTEK\ RECURSOS.png");
    height: 45px;
    background-repeat: no-repeat;
    margin-left: 111px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-size: contain;
}

#sidebar-container {
    min-height: 100vh;
    background-color: rgba(250, 250, 250, 0);
    position: absolute;
    right: 0;
}

#sidebar-container .logov {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

.menuopciones {
    margin-left: 139px;
    width: 65px !important;
}

.infopagina {
    background-image: url(../img/Recurso\ 38VTEK\ RECURSOS.png);
    height: 124px;
    width: 411px;
    background-repeat: no-repeat;
    margin-left: 71px;
    background-size: contain;
    position: relative;
}

.letrainfo {
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 142px;
    float: left;
}

.prueba {
    background-color: #ffa100;
}

.inputsdivi {
    width: 300px;
    margin-right: 10px;
}

.margenusu {
    margin-left: 200px;
}

.dropdown1 {
    border-radius: 50px;
    width: 95%;
    margin-top: 15px !important;
}

.dropdown2 {
    position: inherit;
    border-radius: 50px;
    width: 200px;
    margin-top: 16px;
}

.dropdown_asignacion {
    position: inherit;
    border-radius: 50px;
    width: 200px;
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom: 38px;
}

.naranjasinb {
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png);
    height: 96px;
    width: 197px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 43%;
    margin-top: -14px;
}
.naranjasinb2{
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png);
    height: 96px;
    width: 197px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 43%;
    margin-top: 0px;
}

.btnguardar {
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 229px;
    height: 81px;
    border: none;
    margin-left: 62%;
    background-repeat: no-repeat;
    
}

.btnguardar2 {
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 229px;
    height: 81px;
    border: none;
    margin-left: 408px;
    background-repeat: no-repeat;
}

.letrabtng {
    color: white!important;
    text-align: center;
    font-weight: bold;
}

.letracargo {
    color: white!important;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-top: 22px;
    margin-left: 71px;
}

.letra-columna2 {
    color: white!important;
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: 34px;
}

.letra-columna {
    color: white!important;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.letra-editar {
    color: white!important;
    text-align: center;
    font-weight: bold;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.container {
    background-color: aqua;
    width: 50px;
    height: 60PX;
}

.margenr {
    margin-right: 17px;
}
.margen_recuadro_ofer{
    margin-right: 197px;
}

.margenr1 {
    margin-right: 20px;
}

.margenr2 {
    margin-left: 20px;
}

.sombra {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.37);
}

.saliendo {
    color: white!important;
    font-weight: bold;
    float: left;
    margin-top: 25px;
    margin-left: 26px;
}

.nosalir {
    color: white!important;
    font-weight: bold;
    float: left;
    margin-top: 25px;
    margin-left: 48px;
    cursor: pointer;
}

.infousuario {
    background-image: url(../img/Recurso\ 38VTEK\ RECURSOS.png);
    height: 234px;
    width: 677px;
    background-repeat: no-repeat;
    margin-left: 71px;
    background-size: contain;
    position: relative;
}

.letrausuario {
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    margin-top: 104px;
    margin-left: 233px;
    float: left;
}

.btncontactarC {
    background-image: url('../img/Recurso\ 36VTEK\ RECURSOS.png') !important;
    background-size: 100% 100%;
    width: 202px;
    height: 81px;
    border: none;
    position: flex;
    justify-content: right;
}

.margenrecuadro {
    margin-left: 20px;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: relative;
    bottom: 15 px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
    left: 259px;
    margin: 10px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.imputs_tamano {
    width: 95%;
    margin: 14px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.puntero {
    cursor: pointer;
}

.input-group_main {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    width: 70% !important;
}

.info_de_oferta {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 97px;
    float: left;
}

.temano_recuadro {
    height: 312px;
    width: 161px;
}
.temano_recuadro_offer {
    height: 312px;
    width: 194px;
}


.infocliente_oferta_admin {
    margin-left: 20px;
    margin-top: 19px
}

.margen-cliente_com {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.btnsave {
    position: absolute;
    margin-top: 0px;
}

.btnsave2 {
    position: absolute;
    margin-top: 75px;
}

.inputFirma {
    height: 110px !important;
    border-radius: 25px !important;
}

.btn_degrade {
    background-image: linear-gradient(to right, orange, #e61919) !important;
}

.btn_pasar {
    --bs-btn-color: #fff;
    border-radius: 50px;
    position: absolute;
    margin-left: 40px;
}
.btn_nueva{
    margin-left: 18px !important;
    margin-top: 27px;
    position: absolute;
    --bs-btn-color: #fff;
    border-radius: 50px;
}


.margenes {
    margin-top: 30px;
}

.letra_formulario2 {
    font-size: 11px;
    color: #808080;
    margin: 10px;
}

.letra_formulario {
    font-size: 11px;
    color: #808080;
    margin: 10px;
}

.letra_formulario3 {
    font-size: 11px;
    color: #808080;
    margin-left: 10px !important;
    margin-top: 20px;
}

.letra_formulario4 {
    font-size: 11px;
    color: #808080;
    margin-left: 10px !important;
    margin-top: 20px;
    margin-bottom: 30px;
}

.acomodar {
    float: left;
}

.recuadro_asignacion {
    background-color: white;
    border-radius: 25px;
    width: 136px;
}

.div_recuadros_asignacion {
    float: left;
    position: relative;
}

.fondo_menu {
    background-image: url("../img/Recurso\ 24VTEK\ RECURSOS.png");
    height: 45px;
    background-repeat: no-repeat;
    margin-left: 111px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-size: contain;
}

.editar_cliente_comercial {
    display: none;
}

.i_c {
    position: absolute;
    margin-left: 224px;
}

.scroll_rec {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll_rec::-webkit-scrollbar {
    width: 9px;
    background-color: rgba(239, 239, 239, 0);
}

.scroll_rec::-webkit-scrollbar-thumb {
    background-color: rgb(255, 161, 0);
    border-radius: 25px;
}
.swal2-styled.swal2-confirm {
    background-color: #e68019 !important;

}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(255 128 0 / 30%);
}
.puntero_ver{
    cursor: pointer;
}
.tooltip{
position: relative;

}
.cliente_active:hover .tooltip-box{
    display: inline-block;

}
.tooltip-box{
    display: none;
    position: absolute;
    background: #000;
    line-height: 12px;
    z-index: 500;
    text-align: center;
    color: #ffff;
    font-size: 14px;
    padding: 5px 18px;
    border-radius: 5px;
    bottom: 30px;
    right: -42px;

    

}
.tooltip-box::after{
    content: "";
    display: block;
    border-top: 7px solid #000 ;
    border-left: 7px solid transparent ;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px);



}
#estilo_adjuntar{
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 204px;
    height: 77px;
    border: none;
    float: left;
    margin-right: -30px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 144px;
    position: relative;
    cursor: pointer;
}
#estilo_adjuntar2{
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 204px;
    height: 77px;
    border: none;
    float: left;
    background-repeat: no-repeat;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.letra_adjuntar{
    color: white!important;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;



}
.letra_adjuntar2{
    color: white!important;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;

}
.adjuntando{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}
.adjuntando2{
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.letra_recuadro_info{
    max-width: 162px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.letra_recuadro_info2{
    cursor: pointer;
    max-width: 112px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

}
.letra-eval{
    color: white!important;
    text-align: left;
    margin-top: 25px;
    margin-left: 29px;
}
.btn_asignar{
    margin-left: 40%;
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 170px;
}
.letra_btn_asignar{
    color: white;
    text-align: center;
    /* font-weight: bold; */
    margin-top: 10px;
    margin-right: 68px;

    
}
.btn_asignar{
    background-image: url(../img/Recurso\ 36VTEK\ RECURSOS.png) !important;
    background-size: 100% 100%;
    width: 283px;
    height: 100px;
    border: none;
    margin-left: 130px;
}
.inpu_eval_exp{
    background-color: white !important;
    width: 300px;
    float: left;
    margin-right: 37px;
    margin-left: 9%;
    margin-top: 20px;

}
.textareaexp{
resize: none;
    width: 422px;
    border-radius: 20px;
    float:left;
    margin-top: 12px;

}
.textareaoffer{
    resize: none;
    width: 90%;
    border-radius: 25px;
    float: left;
    margin-top: 12px;

}
.letra1pdf{
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    font-family: Arial Narrow;
    color: #000000;
}
.letra_titulos_pdf1{
    font-style: normal;
    font-weight: bold;
    font-size: 11pt;
    font-family: Arial Narrow;
    color: #000000;
}
.letra_subtitulospdf{
    font-style: normal;
    font-weight: bold;
    font-size: 11pt;
    font-family: Arial Narrow;
    color: #000000;
}
table td{
    width: 10em;

}
table{
    border-collapse: collapse;
}

@media (max-width: 600px) {
    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
    body {
        border-top: 16px solid #ffa100;
    }
}