.mas-azul{
    background-image: url("../imgx1/Recurso\ 12VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-position: center;
    position: absolute;
    left: 13px;
    top: 17px;




}
.mas-blanco{
    background-image: url("../imgx1/Recurso\ 3VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-position: center;


}
.estrella-blanco{
    background-image: url("../imgx1/Recurso\ 2VTEK\ RECURSOS.png");

    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.estrella-color{
    background-image: url("../imgx1/Recurso\ 55VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.estrella-color-info{
    background-image: url(../img/Recurso\ 55VTEK\ RECURSOS.png);
    height: 121px;
    width: 31px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    background-position: center;
    margin-left: 47px;

}

.estrella-azul{
    background-image: url("../imgx1/Recurso\ 13VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;

    background-size: contain;

    background-position: center;
    position: absolute;
    left: 13px;
    top: 17px;

}
.persona-azul{
    background-image: url("../imgx1/Recurso\ 14VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;

    background-size: contain;
    background-position: center;
    position: absolute;
    left: 12px;
    top: 17px;

    

}
.persona-blanco{
    background-image: url("../imgx1/Recurso\ 16VTEK\ RECURSOS.png");
     height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.persona-color{
    background-image: url(../imgx1/Recurso\ 31VTEK\ RECURSOS.png);
    height: 121px;
    width: 31px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    background-position: center;
    margin-left: 47px;

}
.check-azul{
    background-image: url("../imgx1/Recurso\ 10VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    
    background-position: center;
    position: absolute;
    left: 12px;
    top: 17px;

}
.check-blanco{
    background-image: url("../imgx1/Recurso\ 1VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.check-color-c{
    background-image: url("../imgx1/Recurso\ 30VTEK\ RECURSOS.png");
    height: 51px;
    width: 204px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    margin-top: 30px;
}
.check-color-p{
    background-image: url("../imgx1/Recurso\ 30VTEK\ RECURSOS.png");
    height: 121px;
    width: 31px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    background-position: center;
    margin-left: 47px;
}
.soporte-azul{
    background-image: url("../imgx1/Recurso\ 19VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.soporte-blanco{
    background-image: url("../imgx1/Recurso\ 25VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.on-azul{
    background-image: url("../imgx1/Recurso\ 15VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-position: center;
    position: absolute;
    left: 13px;
    top: 17px;


}
.on-blanco{
    background-image: url("../imgx1/Recurso\ 17VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.audifonos-azul{
    background-image: url("../imgx1/Recurso\ 11VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;

    background-size: contain;

    background-position: center;
    position: absolute;
    left: 13px;
    top: 17px;

}
.campana-azul{
    background-image: url("../imgx1/Recurso\ 53VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;

    background-size: contain;

    background-position: center;
    position: absolute;
    left: 13px;
    top: 17px;

}

.bola-blanco{
    background-image: url("../imgx1/Recurso\ 18VTEK\ RECURSOS.png");
    height: 58px;
    width: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.p-azul-login{
    background-image: url("../imgx1/Recurso\ 22VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.c-azul-login{
    background-image: url("../imgx1/Recurso\ 23VTEK\ RECURSOS.png");
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.logovtek{
    background-image: url("../img/Recurso\ 47VTEK\ RECURSOS.png");
    width: 40px;
    height: 40px;
}
.casa-azul{
    background-image: url("../imgx1/Recurso\ 35VTEK\ RECURSOS.png");
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-position: center;
    position: absolute;
    left: 13px;
    top: 15px;


}
.columnas-clasi{
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 260px;
    height: 81px;
    border: none;
    float: left;

    background-repeat: no-repeat;

}
.columnas-clasi2{
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 229px;
    height: 81px;
    border: none;
   float: left;
   margin-right: -25px;

    background-repeat: no-repeat;
}
.columnas-clasi3{
    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 234px;
    height: 81px;
    border: none;
    float: left;

    background-repeat: no-repeat;

}
.btn-editar-ofertas{

    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 234px;
    height: 81px;
    border: none;
    float: left;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: 0px;

}
.btn-nueva-ofertas{

    background-image: url(../img/Recurso\ 41VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 234px;
    height: 81px;
    border: none;
    float: left;
    background-repeat: no-repeat;
    margin-top: 0px;

}
.columnas-clasi4{
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 204px;
    height: 77px;
    border: none;
    float: left;
    margin-right: -30px;
    background-repeat: no-repeat;
}
.adjuntar_ofertas {
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 204px;
    height: 77px;
    border: none;
    float: left;
    margin-right: -30px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 144px;}
.columnas-asignacion{
    background-image: url(../img/Recurso\ 26VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 204px;
    height: 77px;
    border: none;
    position: relative;
    
    margin-right: -30px;
    background-repeat: no-repeat;
}
.alinear{
    float: left;
    margin-left: 85px;
    margin-right: -122px;

}
.i-azul{
    background-image: url(../img/Recurso\ 39VTEK\ RECURSOS.png) !important;
    background-size: contain;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;


}
.i-azul1{
    /* background-image: url(../img/Recurso\ 39VTEK\ RECURSOS.png) !important; */
    background-size: contain;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background: rgb(61,109,159);
    background: linear-gradient(90deg, rgba(61,109,159,1) 0%, rgba(137,206,192,1) 100%);
    -webkit-border-top-right-radius: 50px;
-moz-border-radius-topright: 50px;
border-top-right-radius: 50px;

}
.container2{
    height: 50%;


}
.recuadro{
    background-color: white;
    border-radius: 25px;
    float: left;
    position:relative;


}
.centrarF{
    display: flex;
    align-items: center;
    justify-content: center;


}
.si_no{
    background-image: url(../imgx1/Recurso\ 43VTEK\ RECURSOS.png);
    height: 66px;
    width: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 16px;
    margin-top: -79px;
    margin-bottom: 20px;
    
}
.si_no_comercial{
    background-image: url(../imgx1/Recurso\ 43VTEK\ RECURSOS.png);
    height: 66px;
    width: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 16px;
    margin-top: -72px;

}
.desaparece{
    visibility: hidden !important;
}
.deaparece2{

    display: none !important;
}
.persona-color2{
    background-image: url(../img/Recurso\ 31VTEK\ RECURSOS.png);
    height: 121px;
    width: 135px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    background-position: center;
    margin-left: 50px;
    margin-top: 66px;
}
.letra_IDC{   
    margin-top: 107px;
    margin-bottom: 10px;

}
.letra_IDR{   

   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 30px;

}
.centrarH{
    display: flex;
    justify-content: center;
}
.descargarC {
    background-image: url(../img/Recurso\ 34VTEK\ RECURSOS.png);
    height: 100px;
    width: 93px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}
.letra_descarga{
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 90px;
    margin-bottom: 40px;
}
.moverH{

    margin-left: 60px;
}
.azul-ofertas {
    background-image: url(../img/Recurso\ 34VTEK\ RECURSOS.png);
    height: 67px;
    width: 78px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}
.listo_formalizar {
    background-image: url(../img/Recurso\ 33VTEK\ RECURSOS.png);
    height: 67px;
    width: 78px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    position: absolute;
    left: 0;
    top: -9px;
}
.pendiente_formalizar{
    background-image: url(../img/Recurso\ 34VTEK\ RECURSOS.png);
    height: 67px;
    width: 78px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    position: absolute;
    left: 0;
    top: -9px;

}
.formarlizar_letra{
    position: absolute;
    right: 10px;
}
.formarlizar_letraL{
    position: absolute;
    right: 51px;
}
.recuadro_formalizar{
    position: inherit;
}
.revisado_color {
    background-image: url(../imgx1/Recurso\ 20VTEK\ RECURSOS.png);
    height: 121px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    background-position: center;
    margin-left: 40px;
}
